[Service]
# See: https://github.com/lxc/lxd/issues/5449
# For an issue of squasfs infinity is not handled correctly.
# LimitNOFILE=infinity
LimitNOFILE=20000
LimitNPROC=infinity
Environment=LD_LIBRARY_PATH=/usr/lib/lxd/
{% if lxd_http_proxy | default(false) %}
Environment=http_proxy={{ lxd_http_proxy }}
{% endif %}
{% if lxd_https_proxy | default(false) %}
Environment=https_proxy={{ lxd_https_proxy }}
{% endif %}
{% if lxd_no_proxy | default(false) %}
Environment=no_proxy={{ lxd_no_proxy }}
{% endif %}
